.like_btn {
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 10px;
  display: block;
  margin: 100px auto;
  background-color: red;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
}
.like_btn i {
  margin-left: 10px;
  font-size: 20px;
}
