* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.zone {
    width: 380px;
    height: 450px;
    margin: 20px 30px;
    border: 1px solid #bebebe;
}

.heading-text {
    margin-top: 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    color: #808799;
}

.number {
    text-align: center;
    font-size: 60px;
    color: #30C8DB;
}

.column-part {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.column {
    border: 1px solid gray;
    width: 50px;
    height: 200px;
    position: relative;
}

.column-1::before {
    position: absolute;
    content: "";
    top: 119px;
    width: 48px;
    height: 80px;
    background-color: #F75354;
}

.column-2::before {
    position: absolute;
    content: "";
    top: 139px;
    width: 48px;
    height: 60px;
    background-color: #51D567;
}

.column-3::before {
    position: absolute;
    content: "";
    top: 79px;
    width: 48px;
    height: 120px;
    background-color: #FCD518;
}

.column-4::before {
    position: absolute;
    content: "";
    top: 60px;
    width: 48px;
    height: 140px;
    background-color: #31C8DD;
}

.column-5::before {
    position: absolute;
    content: "";
    top: 80px;
    width: 48px;
    height: 120px;
    background-color: #F78153;
}

.date {
    display: flex;
    justify-content: space-around;
}